<p id="notice"><%= notice %></p>

<h1>Welcome to user management page</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Password digest</th>
      <th>No of tasks</th>
      <th colspan="6"></th>
    </tr>
  </thead>

  <tbody>
    <% @usrs.each do |usr| %>
      <tr>
        <td><%= usr.name %></td>
        <td><%= usr.email %></td>
        <td><%= usr.admin %></td>
        <td> <%= Task.where(usr_id: usr.id).count %></td>
        <td><%= link_to 'Show', usr %></td>
        <td><%= link_to 'Edit', edit_usr_path(usr) %></td>
        <td><%= link_to 'Destroy', usr, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Usr', new_usr_path %>


<h1>List of Tasks Created</h1>



<p id="notice"><%= notice %></p>
<%= form_tag(tasks_path, method: :get) do %>
 Enter Title or Status
  <%= text_field_tag :term, params[:term] %>
  <%= submit_tag 'Search' %>
<% end %>

<h1>Tasks</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Content</th>
      <th>User</th>
      <th>Created date</th>
      <th>Expire date</th>
      <th>Priority</th>
      <th>Status</th>
      <th colspan="7"></th>
    </tr>
  </thead>

  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td><%= task.title %></td>
        <td><%= task.content %></td>
        <td><%= task.usr.name %></td>
        <td><%= task.created_at %></td>
        <td><%= task.expired_date %></td>
        <td><%= task.priority %></td>
        <td><%= task.status %></td>
        <td><%= link_to 'Show', task %></td>
        <td><%= link_to 'Edit', edit_task_path(task) %></td>
        <td><%= link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
    <% end %>
  </tbody>
</table>

<br>
<br><br>
